<div id="new-password" v-cloak>
  <div class="container">
    <h1 class="text-center"><%= create ? sails.__('Create password') : sails.__('Reset password')%></h1>
    <div class="new-password-form">
      <hr/>
      <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                 @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="password"><%= sails.__('New password') %></label>
          <input class="form-control" id="password" name="password" type="password"
                 :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password"
                 placeholder="••••••••" autocomplete="new-password" focus-first>
          <div class="invalid-feedback" v-if="formErrors.password">
            <%= sails.__('Please enter a password.') %>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm-password"><%= sails.__('Confirm password') %></label>
          <input class="form-control" id="confirm-password" name="confirm-password" type="password"
                 :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword"
                 placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">
            <%= sails.__('Your new password and confirmation do not match.') %>
          </div>
        </div>
        <p class="text-danger" v-if="cloudError">
          <small><%= sails.__('general_error') %></small>
        </p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing"
                       class="btn btn-dark btn-lg btn-block"><%= sails.__('Submit') %></ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><%= sails.__('Remember your password?') %> <a href="/login"><%= sails.__('Login') %></a>
      </p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
