<div id="homepage" vueapp="vasystem" vuelogic="static/js/vasystem/index">
  <div v-if="!isAdmin" class="content-box">
    <h3 class="title-box input-document">Enter question</h3>
    <div class="text-box">
      <textarea v-model="question" id="doc" name="document"></textarea>
      <div class="button-bottom">
        <button v-on:click="saveQuestion" type="button" id="search_pair" class="btn-round pri">Submit</button>
      </div>
    </div>
  </div>
  <div v-if="isAdmin" style="margin-top: 100px"></div>
  <div class="quest-table">
    <table class="user-table table table-striped table-bordered">
      <thead>
      <tr>
        <th><%= sails.__('ID') %></th>
        <th><%= sails.__('Content') %></th>
        <th><%= sails.__('Create by') %></th>
        <th><%= sails.__('Status') %></th>
        <th><%= sails.__('Comment') %></th>
        <th><%= sails.__('Options') %></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(ques, index) in questionList">
        <td style="text-align: center">{{index}}</td>
        <td class="content">{{ques.content}}</td>
        <td style="text-align: center">{{ques.createdBy}}</td>
        <td style="text-align: center">{{showStatus(ques)}}</td>
        <td style="text-align: center">{{ques.comment}}</td>
        <td style="text-align: center">
          <button v-if="ques.userId == userId" class="btn btn-sm btn-success">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-sm btn-info" v-on:click="quesDetail(ques)">
            <i class="fa fa-share" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td style="text-align: center">1</td>
        <td class="content">
          直腸癌リンパ節転移に対する術前画像診断の検討林裕樹:1、金城達也:1、西垣大志:1、伊禮靖苗:1、西巻正:11:琉球大学医学部消化器・腫瘍外科学(はじめに直腸癌リンパ節転移の治療前画像診断はいまだ困難な状況であるが,側方郭清や前治療の必要性について検討する際に重要である.
        </td>
        <td style="text-align: center">直腸癌</td>
        <td style="text-align: center">waiting</td>
        <td style="text-align: center">10</td>
        <td style="text-align: center">
          <button class="btn btn-sm btn-success">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-sm btn-info">
            <i class="fa fa-share" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td style="text-align: center">2</td>
        <td class="content">
          直腸癌リンパ節転移に対する術前画像診断の検討林裕樹:1、金城達也:1、西垣大志:1、伊禮靖苗:1、西巻正:11:琉球大学医学部消化器・腫瘍外科学(はじめに直腸癌リンパ節転移の治療前画像診断はいまだ困難な状況であるが,側方郭清や前治療の必要性について検討する際に重要である.
        </td>
        <td style="text-align: center">直腸癌</td>
        <td style="text-align: center">answered</td>
        <td style="text-align: center">88</td>
        <td style="text-align: center">
          <button class="btn btn-sm btn-success">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-sm btn-info">
            <i class="fa fa-share" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
