<div id="homepage" vueapp="vasystem" vuelogic="static/js/vasystem/index">
  <div v-if="!isAdmin" class="content-box">
    <h3 class="title-box input-document">Enter question</h3>
    <div class="text-box">
      <textarea v-model="question" id="doc" name="document"></textarea>
      <div class="button-bottom">
        <button v-on:click="saveQuestion" type="button" id="search_pair" class="btn-round pri">Submit</button>
      </div>
    </div>
  </div>
  <div v-if="isAdmin" style="margin-top: 100px"></div>
  <div class="quest-table">
    <table class="user-table table table-striped table-bordered">
      <thead>
      <tr>
        <th><%= sails.__('ID') %></th>
        <th><%= sails.__('Content') %></th>
        <th><%= sails.__('Create by') %></th>
        <th><%= sails.__('Status') %></th>
        <th><%= sails.__('Comment') %></th>
        <th><%= sails.__('Options') %></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(ques, index) in questionList">
        <td style="text-align: center">{{index}}</td>
        <td class="content">{{ques.content}}</td>
        <td style="text-align: center">{{ques.createdBy}}</td>
        <td style="text-align: center">{{showStatus(ques)}}</td>
        <td style="text-align: center">{{ques.comment}}</td>
        <td style="text-align: center">
          <button v-if="userCreate(ques.userId)" class="btn btn-sm btn-success">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-sm btn-info" v-on:click="quesDetail(ques)">
            <i class="fa fa-share" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
